body,section,h1,p,img{position:relative;}
		body {font-family:serif; position:relative; background: black; color:white; margin: 0; 
			text-align: center; font-size:3rem;}}
		h1 {margin-top: 50px; margin-bottom: 0px; z-index: 100;}
		p {font-size: 1rem;}
		.repin {position: absolute; width: 60%; left:0; margin-top:2%; margin-left:19%; z-index: 0;} 
		.year1 {margin-top: 20px;}
		.pp {margin-top: 580px;}
		.aaa {margin-top: 400px; line-height: 10;}
		.aa {line-height: 20; font-size: 1.5rem;}
		.ga {position: absolute; right: 50px; top:0px; width: 40%; z-index: -10;}
		.man {position: absolute; top:350px; left: 300px; width: 23%; z-index: -10;}
		.ivan {position: absolute; top:950px; right: 20px; width: 40%;z-index: -10;}
		.girl {position: absolute; top:1400px; left: 300px; width: 20%;z-index: -10;}
		.name1 {margin-top: 50px; font-size: 2.5rem; margin-bottom: 30px;}
		.vol {margin-top: 20px; line-height: 1;}
		.volga {position: relative; left: 0; width: 100%; margin-top: 400px;}
		.gang {position: absolute; left: 0; width:100%; padding-top:70px; z-index: -1;}
		.B {margin-top:200px; line-height: 30px; padding-bottom: 300px;}
		.C {width:500px; padding-top:430px; line-height: 25px; padding-bottom:400px;
			padding-left: 750px; text-align: left; text-shadow: 2px 2px 5px black;}
		.ca {position: absolute; width:1690px; left: 0; top:0;}
		.canin {position:absolute; text-align: left ; width: 35%; top:300px; left:180px; z-index:100; }
		.D {padding-top:300px;padding-bottom:400px;}
			.dd {width:500px; line-height: 25px; padding-top:430px; padding-left: 390px; text-align: right; text-shadow: 2px 2px 5px black;}
		.bo {position: absolute; width: 1690px; left: 0; padding-top:0;}
		.boy {position:absolute; text-align:right ; width: 25%; padding-top: 330px; right: 130px; }
		.E {padding-top:300px; padding-bottom:400px;}
			.ee {width:500px; padding-top:450px; line-height: 25px;
			padding-left: 750px; text-align:left; text-shadow: 2px 2px 5px black;}
		.ol {position:absolute; width: 1690px; left: 0; z-index: -10;}
		.old {position:absolute; width: 800px;  left: 12%; padding-top: 470px;}
		.flag {position:absolute; width: 1690px; left: 0; padding-top: 400px;}
		.F {width:500px; padding-top:830px;line-height: 25px; padding-left: 550px;; text-align:left;text-shadow: 1px 1px 4px black;}
		.G {width:500px; padding-top:370px;; line-height: 25px; padding-left: 510px;; text-align:right; text-shadow: 1px 1px 4px black;}
		.H {padding-bottom: 200px; line-height:2; }
		.I {padding-bottom: 200px; pa line-height:4; }
		.vo {position:relative; text-align:left;padding-top:400px; width:70%;}
		.p4 {position:absolute; width:30%; padding-top: 1200px; text-align:left; left:250px;}
		.p2 {position:absolute; width:20%;padding-top: 1800px; text-align:left; right:300px;}
		.nobody {position: relative; left: 0; width: 50%; padding-top:600px;}
		.noone {position: absolute; left: 0; width:1690px; padding-top:200px; z-index: -1;}
		.bb {padding-top:200px; line-height: 30px; }
		.AA {padding-top: 250px;}
		.man1 {position: absolute; width: 1690px; left: 0;}
		.man2 {position:absolute; text-align:left ; width:30%; padding-top:100px; left:100px;}
			.aaaa {width:500px; padding-top:310px; line-height: 25px; padding-left: 720px; text-align: left; text-shadow: 3px 3px 4px black;}
		.BB {padding-top: 800px;}
		.mom {position: absolute; width: 1690px; left: 0;}
		.momo {position:absolute; text-align:right ; width:55%; padding-top:200px; right:20px; z-index:10; }
			.bbb {width:500px; padding-top:400px; line-height: 25px; padding-left:300px; text-align: right; text-shadow: 3px 3px 4px black;}
		.CC {padding-top: 800px;}
		.cho {position: absolute; width: 1690px; left: 0;}
			.cc {width:500px; padding-top:350px; line-height: 25px; padding-left: 300px; text-align: right; text-shadow: 3px 3px 4px black;}
		.DD {padding-top: 800px;}
		.wife {position: absolute; width: 1690px; left: 0;}
			.ddd {width:500px; padding-top:400px; line-height: 25px; padding-left: 430px; text-align: right; text-shadow: 3px 3px 4px black;}
		.EE {padding-top: 800px; width: 1690px; overflow: hidden;}
		.son {position: absolute; width: 1690px; left: 0;}
			.eee {width:500px; padding-top:430px; line-height: 25px; padding-left:380px; text-align: right; text-shadow: 3px 3px 4px black;}
		.you {margin-top: 1000px;}
		.lig {margin-top: 400px;}
		.a1 {position: absolute; left:0; top:0; width: 1000px; animation: }
		.a2 {position: absolute; padding-top:100px; width: 400px;}
		.a3 {position: absolute; padding-top:200px; left:500px; width: 700px;}
		.wow {padding-top:1000px; padding-left: 800px;}
		.re {padding-top: 700px;}
		.a4 {position: absolute; width: 800px; right:0; padding-top: 100px;}
		.fam {padding-top: 300px;}
		.no {padding-top: 500px;}
		.b1 {margin-top: 400px; line-height: 1;}
		.b2 {position: relative; left: 0; width: 50%;padding-top:200px;}
		.b3 {position: absolute; left: 0; width:1690px; z-index: -1;}
		.b5 {padding-top:200px; line-height: 30px; }
		.b6 {padding-top: 200px;}
		.b7 {position: absolute; width: 1690px; left: 0;}
		.b8 {position: absolute; width: 45%;padding-top:200px; padding-left:0px;z-index:10;}
		.b9 {width:500px; padding-top:300px; line-height: 25px; padding-left:250px; text-align: right; text-shadow: 3px 3px 4px black;}
		.b10{padding-top: 800px;}
		.b11{position: absolute; width: 1690px; left: 0;}
		.b12 {position: absolute;width: 50%;padding-top:200px; left:200px;z-index:10;}
		.b4 {width:500px; padding-top:380px; line-height: 25px; padding-left:810px; text-align: left; text-shadow: 3px 3px 4px black; z-index: 10;}
		.b13{padding-top: 800px;}
		.b14 {position: absolute; width: 1690px; left: 0;}
		.b15 {width:500px; padding-top:470px; line-height: 25px; padding-left:600px; text-align:left; text-shadow: 3px 3px 4px black;}
		.b21 {width:500px; padding-top:380px; line-height: 25px; padding-left:620px; text-align: right; text-shadow: 3px 3px 4px black; padding-bottom:500px;}
		.b18 {position: absolute; z-index: -10; left:100px;}
		.b16 {padding-top: 150px; }
		.b17{padding-top: 100px; padding-left: 300px;}
		.b19{padding-top: 325px; padding-left: 600px;}
		.b20 {padding-top: 300px; padding-left: 500px;}
		.c1{margin-top: 600px;}
		.c2{position: absolute; left: 0; width:1690px; z-index: -1;}
		.c3 {position: relative; left: 0;padding-top:150px;}
		.c4{padding-top:200px; line-height: 30px; }
		.c5{padding-top: 200px;}
		.c6{position: absolute; left: 0; width:1690px; z-index: -1;}
		.c10{width:500px; padding-top:390px; line-height: 25px; padding-left:510px; text-align: left; text-shadow: 3px 3px 4px black;}
		.c9{width:500px; padding-top:220px; line-height: 25px; padding-left:1010px; text-align: left; text-shadow: 3px 3px 4px black; }
		.c11{padding-top: 500px;}
		.c12{position: absolute; left: 0; width:1690px; z-index: -1;}
		.c15{width:500px; padding-top:360px; line-height: 25px; padding-left:570px; text-align: left; text-shadow: 3px 3px 4px black; }
		.c16{width:500px; padding-top:150px; line-height: 25px; padding-left:670px; text-align: right; text-shadow: 3px 3px 4px black;}
		.c17{padding-top: 600px;}
		.c18{position: absolute; left: 0; width:1690px; z-index: -1;}
		.c21{width:500px; padding-top:300px; line-height: 25px; padding-left:690px; text-align: left; text-shadow: 3px 3px 4px black;}
		.c22{width:500px; padding-top:160px; line-height: 25px; padding-left:970px; text-align: right; text-shadow: 2px 2px 3px black;}
		.c23{padding-top: 800px;}
		.c24{position: absolute; left: 0; width:1690px; z-index: -1;}
		.c25 {position: absolute; width: 25%;padding-top:230px;left:110px;z-index:10;}
		.c26{width:500px; padding-top:510px; line-height: 25px; padding-left:760px; text-align: left; text-shadow: 3px 3px 4px black;}
		.c27{padding-top: 800px;}
		.c28{position: absolute; right: 0; width:850px; z-index: -1; padding-top: 100px;}
		.c29{position: absolute; left: 500px; width:10%; z-index: -1; padding-top:700px;}
		.c36{position: absolute; left: 1000px; width:15%; z-index: -1; padding-top:900px;}
		.c30{position: absolute; left: 400px; width:10%; z-index: -1;padding-top:1400px;}
		.c31{position: absolute; left:950px; width:20%; z-index: -1;padding-top:1800px;}
		.c32{padding-top: 500px; text-align: center;}
		.c33{padding-top: 400px;}
		.c34{padding-top: 400px;}
		.c35{padding-top: 400px; padding-bottom: 800px;}

		.f1{ font-size:1.5rem; background: white; color:black; margin: 0; padding:20px; padding-bottom: 50px; font-weight:bold;}
		.f2{background: white; color:black; margin: 0; text-align: left; font-size:1rem; padding-left:300px;padding-bottom: 50px; line-height: 40px;}
		.f3{background: white; color:gray; margin: 0; text-align: left; padding-left:300px; line-height: 30px;font-size:1rem; padding-bottom: 50px;}

		.f4{background: white; color:gray; margin: 0;font-size:0.8rem; padding-bottom: 50px;}
